/* General page section */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

h1 {
  color: #ff0000;
}

h3 {
  color: #696969;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link {
  font-family:sans-serif;
  font-size: large;
}

.navbar-brand {
  padding-bottom: 0.7125rem
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  background: #fdf5e6;
  line-height: 60px;
}

label {
  text-align: left;
  float: left;
}

/* Form section
-------------------------------------------------- */
input[type=text], input[type=url], select {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px #7bc1f7;
  display: inline-block;
  margin: 8px 0;
  margin-bottom: 18px;
  padding: 12px 20px;
  width: 100%;
}

input[type=submit] {
  background-color: #4CAF50;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: white;
  margin: 8px 0;
  padding: 14px 20px;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit]:disabled {
  background-color: #f0fff0;
  color: black;
}

#checkboxlist label {
  float: left;
}

#checkboxlist ul {
  margin: 0;
  list-style: none;
  float: left;
  text-align: left;
  margin-bottom: 18px
}

input[type=checkbox] {
  width: 15px;
  height: 15px;
  margin: 2px;
  outline: 2px solid lightblue;
}

input[type=checkbox]:checked {
  filter: invert(100%) hue-rotate(50deg) brightness(1.2);
}

/* Table section */
table {
  width: 100%;
  border: 0.5px solid #cccccc;
}

thead {
  background: #4caf50;
}

th {
  cursor: pointer;
  text-align: center;
  padding: 15px;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #e5e5e5
}

tbody tr:nth-child(even) {
  background-color: #ffffff
}
