@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h3>This is Sitecore SEO Analysis App.</h3>
<h3>Web application that performs a simple SEO analysis of the text.</h3>
<h3>User submits a text in English or URL, then page filters out stop-words (e.g. ‘or’, ‘and’, ‘a’, ‘the’, etc).</h3>

<p>It calculates following:</p>

<ol>
    <li>Number of occurrences on the page of each word.</li>
    <li>number of occurrences on the page of each word listed in meta tags.</li>
    <li>Number of external links in the text.</li>
</ol>

<p> Created by William Cahyadi for Sitecore.</p>
