@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sitecore SEO Analyzer</h1>
    <br />
    <label for="tcontent">Text to analyze</label>
    <input type="text" id="TContent" name="textcontent" maxlength="250" placeholder="Enter text here.." />
    <label for="tcontent">Page URL</label>
    <input type="url" id="UContent" name="urlcontent" placeholder="Enter page url here.." />
    <div id="checkboxlist">
        <label>Analysis Option:</label>
        <ul>
            <li><input type="checkbox" id="option1" checked="checked"> Number of occurrences on the page content</li>
            <li><input type="checkbox" id="option2"> Number of occurrences on the page meta tags </li>
            <li><input type="checkbox" id="option3"> Number of external links in the text </li>
        </ul>
    </div>
    <input type="submit" id="analyze" value="Analyze" onclick="populateResult(document.getElementById('TContent').value, document.getElementById('UContent').value,
        document.getElementById('option1').checked, document.getElementById('option2').checked, document.getElementById('option3').checked)"/>
    <table id="resultTable">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
